[Unit]
Description=picmash
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/picmash
Restart=on-failure
RestartSec=2
WorkingDirectory=%h
Environment=RUST_LOG=info

[Install]
WantedBy=default.target
